﻿div.one-center-content {
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
}

div.two-left-content {
    width: 50%;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
}

div.two-center-content {
    width: 50%;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
}

div.three-left-content {
    width: 33%;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
}

div.three-center-content {
    width: 34%;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
}

div.three-right-content {
    width: 33%;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
}